body, .tab, .tab table {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 300; }

#container {
  width: fit-content;
  min-width: 500px; }

#status {
  position: fixed;
  top: 15px;
  right: 10px;
  padding: 0 10px;
  color: white;
  background: aliceblue;
  font-weight: normal;
  opacity: 0;
  border-radius: 5px;
  transition: all .3s ease-in; }
  #status.statusOn {
    color: #47637b;
    opacity: 1; }

.tab {
  padding: 10px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 5px; }
  .tab h3 {
    font-size: 1.17em;
    font-weight: normal;
    color: #47637b;
    margin: 0 0 3px; }
  .tab h3:after {
    content: "";
    display: block;
    background: #deedfb;
    margin-top: 2px;
    height: 2px;
    width: 100%; }
  .tab p {
    margin: 5px 0; }

.flex {
  display: flex;
  justify-content: space-between; }

.hotkeys {
  background-color: lightyellow;
  border-radius: 5px;
  width: fit-content;
  padding: 0 5px 10px; }
  .hotkeys p {
    color: #92805f;
    font-weight: normal;
    margin: 5px; }
  .hotkeys table {
    font-size: 0.9em; }
  .hotkeys table tr td:nth-child(odd) {
    font-weight: normal; }

.leftbox {
  position: relative;
  flex-grow: 1;
  padding-right: 10px; }

.bottom {
  position: absolute;
  bottom: 0; }

input[type=number], select {
  width: 130px;
  height: 30px;
  margin: 0 5px 0 2px;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 300;
  border-radius: 2px;
  border-style: hidden; }

input[type=number] {
  padding-left: 5px; }

/* Slider */
input[type=range], input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none; }
  input[type=range]:focus::-webkit-slider-thumb {
    border: 1px solid #47637b; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  height: 10px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -1px; }

input[type=range]::-webkit-slider-runnable-track {
  width: 130px;
  height: 8px;
  cursor: pointer;
  background: #deedfb;
  border-radius: 1.3px; }

/* Checkboxes and Radio buttons */
input[type=radio],
input[type=checkbox] {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  top: 1px;
  height: 14px;
  width: 14px;
  margin: 0 5px 0 0;
  background: #fff;
  overflow: hidden;
  border: 1px solid #deedfb;
  border-radius: 2px; }
  input[type=radio]:focus,
  input[type=checkbox]:focus {
    outline: none;
    border: 1px solid -webkit-focus-ring-color; }
  input[type=radio]:checked:after,
  input[type=checkbox]:checked:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    background: #93bee3;
    width: 8px;
    height: 8px;
    border-radius: 1px; }

input[type=radio] {
  border-radius: 15px; }
  input[type=radio]:checked:after {
    border-radius: 15px; }
