$option-main: #47637b;
$option-light: #deedfb;
$hotkey-main: lightyellow;
$hotkey-dark: #92805f;


body, .tab, .tab table {
	font-family: Roboto, sans-serif;
	font-size: 1em;
	font-weight: 300;
}

#container {
	width: fit-content;
	min-width: 500px;
}

#status {
	position: fixed;
	top: 15px;
	right: 10px;
	padding: 0 10px;
	color: white;
	background: aliceblue;
	font-weight: normal;
	opacity: 0;
	border-radius: 5px;
	transition: all .3s ease-in;

	&.statusOn {
		color: $option-main;
		opacity: 1;
	}
}

.tab {
	padding: 10px;
	margin-bottom: 10px;
	background-color: aliceblue;
	border-radius: 5px;
	h3 {
		font-size: 1.17em;
		font-weight: normal;
		color: $option-main;
		margin: 0 0 3px;
	}

	h3:after {
		content: "";
		display: block;
		background: $option-light;
		margin-top: 2px;
		height: 2px;
		width: 100%;
	}

	p {
		margin: 5px 0;
	}
}

.flex {
	display: flex;
	justify-content: space-between;
}

.hotkeys {
	background-color: $hotkey-main;
	border-radius: 5px;
	width: fit-content;
	padding: 0 5px 10px;

	p {
		color: $hotkey-dark;
		font-weight: normal;
		margin: 5px;
	}

	table {
		font-size: 0.9em;
	}

	table tr td:nth-child(odd){
		font-weight: normal;
	}
}

.leftbox {
	position: relative;
	flex-grow: 1;
	padding-right: 10px;
}

.bottom {
	position:absolute;
	bottom: 0;
}

input[type=number], select {
	width: 130px;
	height: 30px;
	margin: 0 5px 0 2px;
	font-family: Roboto, sans-serif;
	font-size: 1em;
	font-weight: 300;
	border-radius: 2px;
	border-style: hidden;
}

input[type=number] {
	padding-left: 5px;
}


/* Slider */
input[type=range] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none;
	}

	&:focus {
		outline: none;
		&::-webkit-slider-thumb {
			border: 1px solid $option-main;
		}
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: 1px solid #ccc;
		height: 10px;
		width: 16px;
		border-radius: 3px;
		background: #ffffff;
		cursor: pointer;
		margin-top: -1px;
	}

	&::-webkit-slider-runnable-track {
		width: 130px;
		height: 8px;
		cursor: pointer;
		background: $option-light;
		border-radius: 1.3px;
	}
}

/* Checkboxes and Radio buttons */
input[type=radio],
input[type=checkbox] {
	-webkit-appearance: none;
	display: inline-block;
	position: relative;
	top: 1px;
	height: 14px;
	width: 14px;
	margin: 0 5px 0 0;
	background: #fff;
	overflow: hidden;
	border: 1px solid $option-light;
	border-radius: 2px;
	&:focus {
		outline: none;
		border: 1px solid -webkit-focus-ring-color;
	}
	&:checked:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -4px 0 0 -4px;
		background: #93bee3;
		width: 8px;
		height: 8px;
		border-radius: 1px;
	}
}

input[type=radio] {
	border-radius: 15px;
	&:checked:after {
		border-radius: 15px;
	}
}